@use '@scss/variables' as *;

.header {
  width: 100%;
  padding: 20px 0;
  z-index: 8;
  position: relative;
  margin: 0 auto;
  -webkit-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: center;


  @media screen and (max-width: 1023px) {
  }

  @media screen and (max-width: 678px) {
    position: sticky;
    top: 0;
  }
}

.header__container {
  width: calc(100% - 90px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  padding: 20px 90px;
  border-radius: 0 0 25px 25px;
  margin-top: -20px;
  z-index: 9;


  @media screen and (max-width: 1023px) {
    width: calc(100% - 25px * 2);
    padding: 25px;
  }

  @media screen and (max-width: 678px) {
    width: calc(100% - 16px * 2);
    padding: 16px;
  }
}


.header__container_burger {
  background-color: $main-green;
  color: white;
  width: 100%;
  z-index: 3;
  top: 0;
  -webkit-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  margin-top: unset;
}

.header__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 77px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (max-width: 1023px) {
    gap: 40px;
  }
}

.header__phone {
  width: 100%;
  color: $main-green;
  font-size: 16px;

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.burger-menu {
  width: 100%;
  background-color: $main-green;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 0 50px 0;
  margin-top: -20px;
  top: 89px;
  left: 0;
  z-index: 3;
}



.burger-menu__links-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__phone_burger {
  color: white;
  text-align: center;
}

.burger-menu__btn {
  content: "";
  background-image: url("@images/burger.svg");
  cursor: pointer;
  background-size: contain;
  width: 18px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;

  :hover {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}

.burger-menu__btn_close {
  background-image: url("@images/close_btn_burger.svg");
  padding-right: 16px;
}

.logo_burger {
  width: 150px;
  height: 42px;
  padding:3px 0 0 19px;
}