/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.team {
  width: 100%;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    padding: 47px 0;
    gap: 60px;
  }
  @media screen and (max-width: 576px) {
    padding: 45px 0;
    gap: 30px;
  }
}

.team__text_m {
  text-transform: uppercase;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;

  @media screen and (max-width: 1023px) {
    margin-top: 0;
  }

  @media screen and (max-width: 576px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }
}

.team__description {
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;

  @media screen and (max-width: 1023px) {
    max-width: 397px;
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
    width: 100%;
  }
}

.team__img {
  width: 100%;
  height: auto;
  max-width: 549px;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;

  @media screen and (max-width: 1023px) {
    min-width: 275px;
    max-width: calc(50% - 40px);
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
    width: 100%;
    background-size: contain;
  }
}

.team__text {
  font-weight: 400;
}