.confidential {
  width: 100%;
  margin: 0 auto;
  padding: 120px 0 180px 0;
  display: flex;
  flex-direction: column;
  gap: 113px;
}

.confidential__title {
  text-transform: uppercase;
}

.confidential__container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 940px;
  width: 100%;
}

.confidential__point {
  display: flex;
  flex-direction: column;
  gap: 15px
}
