/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use "@scss/variables" as *;

@keyframes roundAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes roundAnimationRight {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(-400deg);
  }
}

.cover {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
    padding: 47px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 45px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
}

.cover__description {
  max-width: 841px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;

  @media screen and (max-width: 1023px) {
    max-width: 477px;
    gap: 25px;
  }

  @media screen and (max-width: 576px) {
    max-width: 100%;
    gap: 30px;
  }
}

.cover__title-span {
  color: $main-green;
}

.cover__title {
  line-height: 105%;
  margin-bottom: calc(60px - 36px);

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.cover__subtitle {
  max-width: 511px;

  @media screen and (max-width: 1023px) {
    max-width: 347px;
    font-weight: 400;
    font-size: 16px;
  }

  @media screen and (max-width: 576px) {
    max-width: 100%;
  }
}

.cover__btn {
  all: unset;
  max-width: calc(520px - 320px);
  width: 100%;
  text-transform: uppercase;
  font-family: inherit;
  background-color: $main-green;
  padding: 28px 160px;
  color: white;
  border-radius: 20px 0 20px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    display: none;
    visibility: hidden;
  }
}

.cover__images-container {
  content: "";
  background-image: url("@images/leafes_pattern.png");
  max-width: 1187px;
  width: 100%;
  max-height: 602px;
  height: 602px;
  background-size: 1187px 602px;
  position: absolute;
  top: 60px;
  right: -40px;
  z-index: -1;

  @media screen and (max-width: 1023px) {
    width: 100%;
    max-width: 755px;
    height: 378px;
    background-size: 755px 378px;
    left: 16px;
  }

  @media screen and (max-width: 576px) {
    max-width: 100%;
    width: 100%;
    max-height: 650px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("@images/leafs_mobile.png");
    top: 0;
    left: -15px;
  }
}

.cover__dekstop {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: end;

  @media screen and (max-width: 1023px) {
  }

  @media screen and (max-width: 576px) {
    justify-content: center;
  }
}

.cover__btns-container {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 39px;
  position: absolute;
  right: 29px;
  bottom: 289px;
  z-index: 3;


  @media screen and (max-width: 1023px) {
    gap: 24px;
    bottom: 127px;
    right: -15px;
  }

  @media screen and (max-width: 576px) {
    gap: 24px;
  }
}



.cover__btns {
  content: "";
  background-image: url("@images/manipulator_cover.svg");
  width: 106px;
  height: 106px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;


  @media screen and (max-width: 1023px) {
    width: 80px;
    height: 80px;
  }

  @media screen and (max-width: 576px) {
    width: 65px;
    height: 65px;
  }
}

.cover__btns:nth-child(1n) {
  animation: roundAnimation 9s linear infinite;
}

.cover__btns:nth-child(2n) {
  transform: rotate(-40deg);
  animation: roundAnimationRight 10s linear infinite;
}

.cover__gradient {
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 7;
  top: 0;
  left: -15px;
  margin-right: -90px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 10%, rgba(253, 255, 255, 0.5) 23%, rgba(255, 255, 255, 0) 50%, rgba(253, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 59%, rgba(255, 255, 255, 0) 70%);
}

.cover__image {
  width: calc(586px - 173px);
  margin-right: -90px;

  @media screen and (max-width: 1023px) {
    margin-right: -100px;
    width: 300px;
  }

  @media screen and (max-width: 576px) {
    margin-right: 0;
    width: 100%;
  }
}
