@use "@scss/variables" as *;

.marker {
  font-size: 16px;
  color: $main-green;
  border-radius: 0 20px 0 20px;
  border: 1px solid $main-green;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  max-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1023px) {
    padding: 2px 20px;
    font-size: 10px;
    width: 100%;
    max-width: calc(125px - 40px);
  }

  @media screen and (max-width: 576px) {
    padding: 0;
    display: none;
    visibility: hidden;
  }
}