/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.navigation {
  all: unset;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  white-space: nowrap;

  @media screen and (max-width: 1023px) {
    gap: 25px;
  }

  @media screen and (max-width: 678px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.navigation__link {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }

  @media screen and (max-width: 678px) {
    color: white;
  }

}

.navigation__link-container {
  list-style-type: none;
  font-family: inherit;
}