@use "@scss/variables" as *;

.carousel {
  padding: 90px 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media screen and (max-width: 1023px) {
    padding: 47px 0;
    gap: 43px;
  }

  @media screen and (max-width: 576px) {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  cursor: grab;

  @media screen and (max-width: 1023px) {
    gap: 43px;
  }

  @media screen and (max-width: 576px) {
    gap: unset;
    display: block;
  }
}

.card__marker {
 align-self: end;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;

  @media screen and (max-width: 1023px) {
    padding-bottom: 35px;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
  }
}

.card__description-container {
  max-width: 429px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-right: 15px;

  @media screen and (max-width: 1023px) {
    gap: 35px;
    max-width: 342px;
  }

  @media screen and (max-width: 576px) {
    gap: 20px;
    max-width: unset;
    width: 100%;
  }
}

.card__description {
  font-weight: 400;
  max-width: 429px;

  @media scren and (max-width: 1023px) {
    max-width: 342px;
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
    width: 100%;
  }
}

.title-container__title_m {
  @media screen and (max-width: 576px) {
    max-width: unset;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
  }

}

.card__img {
  object-position: center;
  object-fit: contain;
  max-width: 630px;
  max-height: 450px;
  height: auto;
  width: 100%;

  @media screen and (max-width: 1023px) {
    max-width: 300px;
    max-height: 250px;
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
    max-height: 350px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.card__item {
  font-size: 20px;
  font-family: inherit;
  font-weight: 400;

  @media screen and (max-width: 1023px) {
    font-size: 12px;
  }

  @media screen and (max-width: 576px) {
    padding-left: 10px;
  }
}

.carousel__manipulate {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1023px) {
    gap: 12px;
  }

  @media screen and (max-width: 576px) {
    gap: 10px;
  }
}

.arrows {
  display: flex;
  gap: 40px;
  align-items: center;

  @media screen and (max-width: 1023px) {
    gap: 20px;
  }
}

.arrow {
  width: 7px;
  height: 14px;
  background-size: 7px 14px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s  ease-in-out;
  cursor: pointer;
  
  :hover {
    transition: all 0.4s  ease-in-out;
  }
}

.arrow--left {
  background-image: url("@images/arrow_left.svg");

}

.arrow--left:hover {
  background-image: url("@images/arrow_left_green.svg");
}

.arrow--right {
  background-image: url("@images/arrow_right.svg");

}

.arrow--right:hover {
  background-image: url("@images/arrow_right_green.svg");
}

.bullets {

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1px;
  background-color: black;
}

.bullet {
  width: calc(100% / 10);
  height: 5px;
  border-radius: 5px;
  margin-top: -2px;
  transition: all 0.3s ease-in;

  @media screen and (max-width: 1023px) {
    height: 3px;
    margin-top: -1px;
  }
}

