@use "@scss/variables" as *;

.functions {
  width: 100%;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    padding: 47px 0;
  }
  @media screen and (max-width: 576px) {
    padding: 45px 0;
  }
}

.functions__subtitle {
  text-align: center;
  font-weight: 400;
  max-width: 861px;
  margin: 65px auto 45px auto;

  @media screen and (max-width: 1023px) {
    margin: 50px 0 35px 0;
    max-width: 518px;
    text-align: left;
  }

  @media screen and (max-width: 576px) {
    margin: 35px 0 30px 0;
  }
}

.functions__container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(calc(100% / 4 - 20px * 3), 300px));
  grid-template-rows: repeat(2, 350px);
  gap: 20px;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "benefit benefit workers function_control"
    "distant function_reduce logs education";

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, calc(100% / 2 - 10px));
    grid-template-rows: repeat(4, minmax(177px, 200px));
    grid-template-areas: none;
    gap: 10px;
  }

  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

.function {
  width: calc(100% - 20px * 2);
  border-radius: 25px;
  border: 2px solid $main-green;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in;

  @media screen and (max-width: 1023px) {
    cursor: default;
    padding: 25px 15px 15px 15px;
    width: calc(100% - 15px * 2);
    border: none;
  }

  @media screen and (max-width: 576px) {
    width: calc(100% - 13px * 2);
    padding: 25px 13px;
    gap: 20px;
  }
}


.function__title {
  text-transform: uppercase;
  margin-left: 40px;
  transition: all 0.5s ease-in;
}

.function__marker {
  position: absolute;
  top: 45px;
  left: 20px;
  content: "";
  width: 20px;
  height: 20px;
  background: $main-green;
  border-radius: 25px;
  transition: all 0.5s ease-in;

  @media screen and (max-width: 1023px) {
    width: 10px;
    height: 10px;
    top: 25px;
    left: 15px;
  }
}

.function_benefit {
  grid-area: benefit;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_workers {
  grid-area: workers;
  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_control {
  grid-area: function_control;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_distant {
  grid-area: distant;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_reduce {
  grid-area: function_reduce;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_logs {
  grid-area: logs;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}
.function_education {
  grid-area: education;

  @media screen and (max-width: 1023px) {
    grid-area: unset;
  }
}

.function__content {
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
}

.function__content_benefit {
  background-image: url("@images/icon_benefit.svg");
  max-width: 233px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 181px;
}
.function__content_workers {
  background-image: url("@images/icon_workers.svg");
  max-width: 150px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 150px;
}
.function__content_control {
  background-image: url("@images/icon_control.svg");
  max-width: 150px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 178px;
}
.function__content_distant {
  background-image: url("@images/icon_distant.svg");
  max-width: 113px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 135px;
}
.function__content_reduce {
  background-image: url("@images/icon_reduce.svg");
  max-width: 150px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 150px;
}
.function__content_logs {
  background-image: url("@images/icon_logs.svg");
  max-width: 185px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 181px;
}

.function__content_education {
  background-image: url("@images/icon_education.svg");
  max-width: 133px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  max-height: 157px;
}

.function__description {
  display: none;
  visibility: hidden;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease-in;
}

.function:hover {
  background-color: $main-green;
  padding-bottom: 25px;
  transition: all 0.5s ease-in;

  .function__title {
    color: white;
  }

  .function__marker {
    background-color: white;
  }

  .function__content {
    display: none;
    visibility: hidden;
  }

  .function__description {
    display: block;
    visibility: visible;
  }
}

@media screen and (max-width: 1023px) {
  .function__title {
    color: white;
    margin-left: 25px;
    max-width: 152px;
  }

  .function__marker {
    background-color: white;
  }

  .function__content {
    display: none;
    visibility: hidden;
  }

  .function__description {
    display: block;
    visibility: visible;
    font-size: 12px;
  }

  .function {
    background-color: $main-green;
    padding-bottom: 25px;
    transition: unset;
  }
}

@media screen and (max-width: 576px) {
  .function__title {
    margin-left: 20px;
    max-width: unset;
    width: 100%;
  }
}

