@use "@scss/variables" as *;
.contact-form {
  width: 100%;
  padding: 90px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 51px;

  @media screen and (max-width: 1023px) {
    padding: 47px 0;
    gap: 46px;
  }
  @media screen and (max-width: 576px) {
    padding: 45px 0;
    gap: 25px;
  }
}

.contact-form__title {
  padding: 25px 0;
  max-width: 440px;
  height: 100%;
  text-transform: uppercase;

  @media screen and (max-width: 1023px) {
    padding: 15px 0;
    max-width: 363px;
  }
}

.form-container__title_g {
  color: $main-green;
  padding: 0;
}

.contact-form__title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;

  @media screen and (max-width: 1023px) {
    gap: 24px;
  }
}

.reason__marker_contact {
  height: calc(76px + 25px * 2);
  max-height: 150px;

  @media screen and (max-width: 1023px) {
    height: calc(58px + 15px * 2);
    max-height: 90px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 45px;

  @media screen and (max-width: 1023px) {
    gap: 35px;
    max-width: 460px;
  }

  @media screen and (max-width: 576px) {
    gap: 25px;
    max-width: unset;
    width: 100%;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 940px;

  @media screen and (max-width: 1023px) {
    gap: 5px;
    max-width: 460px;
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
    width: 100%;
  }
}

.form__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__area {
  all: unset;
  width: calc(100% - 30px * 2);
  padding: 20px 30px;
  border: 1px solid $main-green;
  border-radius: 15px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  line-height: 130;
  max-height: 15px;

  @media screen and (max-width: 1023px) {
    width: calc(100% - 20px * 2);
    max-height: 20px;
    padding: 15px 20px;
  }

  @media screen and (max-width: 576px) {
    width: calc(100% - 20px * 2);
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
  }
}

.form__area_text {
  max-height: 150px;
  max-width: calc(100% - 30px * 2);
  height: calc(150px - 40px);
  scroll-behavior: unset;
  line-height: 120%;

  @media screen and (max-width: 1023px) {
    text-align: start;
    max-width: calc(100% - 20px * 2);
  }
}

.form__error {
  padding-left: 30px;
  color: $main-green;

  @media screen and (max-width: 1023px) {
    padding-left: 5px;
  }
}

.form__area_error {
  border: 1px solid #50B05A;
}

.form-container__btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;

  @media screen and (max-width: 1023px) {
    max-width: 460px;
  }
}

.form-container__links {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1023px) {
    gap: 25px;
  }

  @media screen and (max-width: 576px) {
    gap: 15px;
  }
}

.form-container__btn {
  all: unset;
  max-width: calc(520px - 320px);
  width: 100%;
  text-transform: uppercase;
  font-family: inherit;
  background-color: $main-green;
  padding: 20px 160px;
  color: white;
  border-radius: 50px 0 50px 0;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    max-width: calc(305px - 60px * 2);
    width: 100%;
    padding: 20px 80px;
    font-size: 14px;
    font-weight: 500;
  }

  @media screen and (max-width: 576px) {
    max-width: unset;
  }
}

.form-container__btn:hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.form-container__btn:disabled {
  background-color: gray;
  cursor: default;
}

.form-container__link {
  content: "";
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    background-size: 40px;
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  @media screen and (max-width: 576px) {
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
}

.form-container__link_wu {
  background-image: url("@images/WhatsApp.svg");

  @media screen and (max-width: 1023px) {
    padding: 0;
    width: 40px;
    height: 40px;
    background-size: 40px;
  }

  @media screen and (max-width: 576px) {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

.form-container__link_tg {
  background-image: url("@images/Telegram.svg");
}

.form-container__link:hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}