@use "@scss/variables" as *;

%zero-padding-margin {
  padding: 0;
  margin: 0;
}

%text {
  @extend %zero-padding-margin;

  color: $text-color;
  font-family: $helvetica-font;
  font-style: normal;
  line-height: 140%;
}
